{% extends "ProyectB/base.html" %}
{% load staticfiles %}
{% load table_tags %}
{% block cabezera %}  {% endblock %}
{% block extra %}

<div class="features">
	<div class="container">
		<div class="row">
				<div class="col-lg-12 text-center">
				<div class="box">
					<form method='POST' action=''>
						<center>
							{% csrf_token %}
							<div class="panel panel-primary">
							<div class="panel-heading"><strong>Total de horas asignadas al profesor.</strong></div>
							<br>
							<h4>
							{% render_table reporte %}
							</h4>
							</div>
							<br>
							<br>
								<a class="btn  btn-lg btn-default" href="/index/">Regresar</a>
						</center>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
{% endblock %}
